body {
}
#main-wrap {
    overflow:hidden
}
#sidebar {
    position: center;
    float: left;
    width: 30%;
    min-width: 15em;
}
#resultText {
    width: 20%;
    min-width: 10em;
    }

#questList {
    width: 30%;
    min-width: 30em;
}


.control {
    margin: 5% 0;
    width: 75%;
    max-height: 50%
}

.control button,input,select{
    width: 100%
}
