#main-wrap {
    overflow: auto;
}

#sidebar {
    position: center;
    float: left;
    width: 30%;
    min-width: 15em;
}
#resultText {
    width: 15%;
    height: 100%;
    display: inline-block;
    float: left;
    }

#questList {
    position: absolute;
    width: 50%;
    float: right;
    display: inline-block;
    min-width: 50%;
}


.control {
    margin: 5% 0;
    width: 75%;
    max-height: 50%
}

.control button,input,select{
    width: 100%
}